// Define variables for your color scheme

// For example:
$red: #fd1f3d;
$blue: #a1cefb;
$yellow: #FEA82F;
$orange: #FF6701;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple: #A760FF;
$dark-purple: #340266;
$tan: #FFCC8F;
$light-tan: #FFDAAF;
$cream: #FFEDDA;
