// Specific CSS for your home-page
.logo-font {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
}
.phone-container {
  position: relative;
  margin-left: -16px;

  .phone-map-container {
    position: absolute;
    top: 32px;
    left: 51px;
    border-radius: 39px !important;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  }
}

.carousel-row {
  width: 100%;
  padding: 36px 0 36px 0;
  margin: 36px 0 36px 0;
}

@media(min-width: 720px) {
  .text-container {
    margin-left: 24px;
    width: 55%;
    p {
      font-size: 1.25rem;
    }

  }
  .row{
    position: relative;
    .right-nav-icon {
      width: 80px;
      position: absolute;
      top: 110px;
      right: 24px;
    }
    .left-nav-icon {
      width: 80px;
      position: absolute;
      top: 110px;
      left: 24px;
    }
  }
  .carousel-img {
    border-radius: 50%;
    width: 300px;
  }
}

@media(max-width: 560px) {

  .title-container {
    h1, h2, p {
      text-align: center;
    }

  }
  .text-container {
    margin: 16px 16px 0 16px;
    width: 300px;
    h3 {
      text-align: center;
    }
    p {
      font-size: 1rem;
    }
  }
  .row{
    position: relative;
    .right-nav-icon {
      width: 80px;
      position: absolute;
      top: 110px;
      right: 24px;
    }
    .left-nav-icon {
      width: 80px;
      position: absolute;
      top: 110px;
      left: 24px;
    }
  }
  .carousel-img {
    border-radius: 50%;
    width: 200px;
  }
}
