<div class="newAlertContainer">
<h2>Category Information</h2>
  <div id="inputFields">
        <%= simple_form_for(@category) do |f| %>
          <div class="form-input">
          <%= f.input :category,
          as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: ["Vandalism", "Littering", "Infrastructure", "Transportation", "New Idea", "Other"] %>

          <%#= f.input :category,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'},
              collection: ["Vandalism", "Littering", "Infrastructure", "Transportation", "New Idea", "Other"]%>
          </div>
          <%= f.submit 'Next Step', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
