<div class="listing card">
  <%= cl_image_tag(alert.photos[0].key) %>
  <div class="listing-details">
    <%= link_to "#{alert.address}", alert %><br>
    <strong><%=alert.title %></strong>
    <p class="fs-6"><%=alert.description%></p>
  </div>
</div>
