<br>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This app is made with <i class="fas fa-heart"></i> by
    <%= link_to "ouicity", about_path, class: "logo-font fs-5 text-decoration-none" %>
  </div>
</div>
