<div class="btn-container rounded-4">
  <p class="text-center" style="font-weight=400;"><%= alert.title %></p>
  <%= link_to "Read more", alert, class: "btn btn-primary btn-sm rounded-pill text-white" %>
</div>
