      <h2>Category</h2>
            <%= f.input :category,
              as: :radio_buttons,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
             # input_html: {class: 'category-selector'},
              collection: ["Vandalism", "Littering", "Broken Object", "Transportation", "New Idea", "Other"]%>
