<div class="container justify-content-center mb-5 pb-4">
  <br />
  <h1>My Alerts</h1>

    <div data-alerts-target="list" id="listings" class="listings">
        <% @alerts.each do |alert| %>
          <%= render 'shared/alert_banner', alert: alert %>
        <% end %>
    </div>

</div>
