<div class="newAlertContainer"  data-controller="alert">
  <div id="inputFields">
        <%= simple_form_for(@alert) do |f| %>
          <div class="form-input">
            <%= render "#{@alert.current_step}_step", :f => f %>
          </div>
          <%= f.submit 'Continue', class: "btn btn-primary"  %>
          <%= f.submit 'Back', name: "back_button", class: "btn btn-primary" unless @alert.first_step? %>
        <% end %>
      </div>
    </div>
</div>
