<div class="container align-items-center">
  <div class="banner-container d-flex flex-row flex-wrap justify-content-center align-items-center">
    <div class="col-12 col-lg-6 title-container">
      <h1 class="pb-2">404</h1>
      <h2 class="pb-2">So sorry, this page does not exist</h2>
    </div>
    <div class="col-12 col-lg-4 phone-container">
      <%= image_tag "404.png", height: 650 %>
    </div>
  </div>
</div>
