.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 300px;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: white;
}

.form-input .mapboxgl-ctrl-geocoder {
  max-width: none;
  box-shadow: none;
  background-color: #fdf5f5;
}
