.alert {
  z-index: 1000;
  // width: 100%;
  background: #E3F3FF;
  text-align: center;
  position: fixed;
  bottom: 100px;
  right: 50px;
  // z-index: 1000;
}

.alerts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  border-radius: 25px;
  padding: 36px;
}

.alert-card {
  border: 1px solid rgb(208, 207, 207);
  border-radius: 25px;
  padding: 16px 16px;
  margin: 8px 0 8px 0;
  width: 500px;
  height: 300px;
}

// My Alerts page styling

.my-alert-card {
  border: 1px solid rgb(208, 207, 207);
  border-radius: 50px;
  padding: 16px 32px;
  margin: 8px 0 8px 0;
  width: fit-content;
  justify-content: space-between;
}

.my-alert-card .btn {
  border-radius: 50px;
}

// Alert show page styling

.fa-check {
  color: rgb(1, 100, 56);
}

.fa-arrow-up {
  color: rgb(161, 37, 0);
}
