.mapboxgl-popup {
  max-width: 100px;
}

.geocoder {
  position: relative;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }
