.mapboxgl-popup {
  max-width: 100px;
}

.geocoder {
  position: relative;
  z-index: 1;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
  }
  .mapboxgl-ctrl-geocoder {
  min-width: 100%;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }

  .listings .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }

  .listings .item:last-child { border-bottom: none; }

  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  .listings .item .title small { font-weight: 400; }

  .listings .item.active .title,
  .listings .item .title:hover { color: #8cc63f; }

  .listings .item.active {
    background-color: #f8f8f8;
  }
