.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #fb8484;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  font-family: "Abril Fatface", cursive;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  background-image: url("menu_icon.png")
}

.navbar-nav a {
  text-decoration: none;
}
