.newAlertContainer{
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 4em auto;
  background-color: #fbe4e2;
  border-radius: 20px;
}

.form-input {
  margin: 3em, 4em, 3em;
  padding-bottom: 2em;
  padding-top: 2em;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {

 /*height: 100%;
  font-size: 12px;
  text-align: left;
  margin-bottom: 4em;
  margin-top: 4em;
  border-radius: 4px;
  background-color: #FC7D76;
  position: relative;
  padding: 10px 10px 30px 10px;*/

  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 20px 0px 20px 0px;
  margin: 10px 0px 10px 0px;
  border: 2px solid #EAEAEA;
  border-radius: 4px;
  background-color: #FC7D76;
}

.category-selector:checked + label {
  color: rgb(224, 224, 224) !important;
}

.category-selector + label::before{
  content: '';
  position:absolute;
  top:0px;
  left:0px;

  background-size: cover;
}
