.table {
  background-color: white !important;
  border-color: $cream !important;
  border-width: 3px !important;
  width: 100%;
  margin: 0;
}

canvas {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}
