// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height:100vh;
  display:flex;
  flex-direction: column;
}
